<html>

<head>
  <title>Skin Tracking</title>

  <script type="text/javascript" src="vendor/jsfeat/jsfeat.js"></script>
  <script type="text/javascript" src="vendor/jsfeat/frontalface.js"></script>
  <script type="text/javascript" src="vendor/jquery.min.js"></script>
  <script type="text/javascript" src="vendor/cv.js"></script>
  <script type="text/javascript" src="vendor/handtracking.js"></script>
  <script type="text/javascript" src="vendor/js-handtracking.js"></script>
  <script type="text/javascript" src="vendor/dat_gui/dat.gui.min.js"></script>

  <script>
    window.onload = function(){
      var demo = new JSHandtracking();

      $('#canvas').click(function(e) {
        var offset = $(this).offset();
        demo.calibrate(e.clientX - offset.left, e.clientY - offset.top);
      });

      demo.start();

      var gui = new dat.GUI();
      gui.add(demo.tracker.skinner.params, 'min_value').min(0).max(250).step(1).listen();
      gui.add(demo.tracker.skinner.params, 'max_value').min(0).max(250).step(1).listen();
      gui.add(demo.tracker.skinner.params, 'min_hue').min(0).max(360).step(1);
      gui.add(demo.tracker.skinner.params, 'max_hue').min(0).max(360).step(1);
      gui.add(demo.tracker.skinner.params, 'fast');
      gui.add(demo, 'convex_hull');
      gui.add(demo, 'convexity_defects');
      gui.add(demo, 'skin_mask');
    };

  </script>

</head>

<body style="font-family: monospace;">

  <center>
    <div style="margin: 10px;"><strong>Skin Tracking</strong></div>
    <video id="video" autoplay="true" style="display:none;"></video>
    <canvas id="canvas" style="width:320px; height:240px;border:1px solid black;"></canvas>
    <div style="margin: 15px;"><strong>Powered by <a href="http://code.google.com/p/js-handtracking/" target="_blank">js-handtracking</a></strong></div>
  </center>

</body>

</html>